<!--   基础方式-->
{#<form method="post" novalidate>#}
{#    {% csrf_token %}#}
{#    {% for item in form %}#}
{#        <div>#}
{#            {{ item.name }}{{ item.form_tag }}{{ item.errors.0 }}#}
{#        </div>#}
{#    {% endfor %}#}
{##}
{#    <input type="submit"/>#}
{#</form>#}


<form method="post" novalidate>
    {% csrf_token %}
    <ul>
        {% for item in form %}
            {% if item.is_popup %}
                <li>
                    {{ item.data.field.label }}{{ item.data }}<a
                        href="{{ item.popup_url }}">添加</a>{{ item.data.errors.0 }}
                </li>
            {% else %}
                <li>
                    {{ item.data.field.label }}{{ item.data }}{{ item.data.errors.0 }}
                </li>
            {% endif %}

        {% endfor %}
        <li>
            <input type="submit"/>
        </li>
    </ul>

    <input type="submit"/>
</form>