{% load plus_form %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'pl/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'pl/bootstrap-3.3.7-dist/css/myform-control.css' %}"/>
</head>
<body>
<div class="container">
    <h3>添加/编辑数据</h3>
    {% create_form form modeladmin_obj %}

</div>
</body>
<script src="{% static 'pl/jquery-3.2.1.min.js' %}"></script>
<script>

    $('input[type!=submit]').addClass("form-control");
    $('select').addClass("form-control")
</script>
</html>
