<table class="table table-bordered">

    <thead>
    <tr>
        {% for hitem in header %}
            <th>{{ hitem }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for datum in body %}
        <tr>
            {% for foo in datum %}
                {% if changelist.is_edit %}
                    {% if not forloop.first %}
                        <td><a href='{{ datum.0 }}'>{{ foo }}</a></td>
                    {% endif %}
                {% else %}
                    <td>{{ foo }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>

</table>