{% load plus_list %}
<table class="table table-bordered">

    <thead>
    <tr>
        {% if changelist.show_checkbox_col %}
            <th style="text-align: left;width: 80px;">
                <label class="checkbox-inline" id='all-check' >
                    <input type="checkbox" value="option1" onclick="check_all()"> 全选
                </label>
            </th>
        {% endif %}
        {% for hitem in header %}
            <th>{{ hitem }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for datum in body %}
        <tr>
            {% if changelist.show_checkbox_col %}
                <td style="text-align: left;width: 80px;">{% to_checkbox_col datum %}</td>
            {% endif %}
            {% for foo in datum.tds %}
                {% if changelist.is_edit %}
                    <td>{% to_canedit_row changelist datum foo %}</td>
                {% else %}
                    <td>{{ foo }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>

</table>