<form class="form-horizontal" method="POST" novalidate>
    {% csrf_token %}
    {% for col in form %}
        <div class="form-group col-sm-6">
            <label class="col-sm-3 control-label">
                {% if col.item.field.label %}
                    {{ col.item.field.label }}
                {% else %}
                    {{ col.item.name }}
                {% endif %}

            </label>
            <div class="col-sm-9" style="position: relative">
                {{ col.item }}
                {% if col.is_popup %}
                    <div style="position: absolute;right: -5px;top: 8px;z-index: 9999;"><a
                            href="javascript:openpopupclick('{{ col.popup_url }}');"
                            class="glyphicon glyphicon-plus"></a></div>
                {% endif %}
                {{ col.item.errors.0 }}
            </div>
        </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-10 col-sm-2">
            <input type="submit" class="btn btn-primary" value="确认添加"/>
        </div>
    </div>
</form>


<script>
    function openpopupclick(url) {
        //打开新窗口
        window.open(url, url, 'width=500,height=600,top=50')
    }

    function openpoupcallback(id, text, popid) {
        var ele = document.createElement("option");
        ele.setAttribute("value", id);
        //将新增加的值选中
        ele.setAttribute("selected", "selected");
        ele.innerText = text;
        document.getElementById(popid).appendChild(ele);
    }
</script>